@model SubCategory
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1 class="m-0 text-dark"> Transaction Purchaser <small>Price To PPH</small></h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Transaction Purchaser</a></li>
            @* <li class="breadcrumb-item"><a href="#">Input Price</a></li> *@
            <li class="breadcrumb-item active">Import Price To PPH</li>
        </ol>
        </div><!-- /.col -->
    </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                    <h3 class="card-title brand-text font-weight-light">
                        <i class="fas fa-search mr-1"></i>
                        <b>Search</b> Item 
                    </h3>
                    </div>
                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label"><h3 class="card-title brand-text font-weight-light"><b>Sub Category</b></h3></label>
                                <div class="col-8">
                                    <select class="form-control select2-ctg" style="width: 100%;" id="subcat">
                                        <option value=""></option>
                                        @if(Model.data != null){
                                            @foreach (var item in Model.data)
                                            {
                                                <option value="@item.SubCategoryID">@item.SubCategoryName</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-block bg-gradient-primary" id="search" onclick="getitem()"><i class="fa fa-search mr-1"></i>Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
    <!-- /.card -->
    </div>
    <!-- /.container-fluid -->
    <div id="isidetail">
    </div>
</section>

<partial name="_js.cshtml">
